* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, serif;
}

::selection {
    background: #4158d0;
    color: #fff;
}

#wrapper {
    display: grid;
    width: 100%;
    height: 100vh;
    place-items: center;
}

#container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%
}

.mid {
    z-index: 1;
    filter: blur(2px);
}

.front {
    z-index: 2;
}

.background {
    background-color: #5B0888;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: fixed;
}

.bubble-one {
    position: absolute;
    width: 40vh;
    height: 40vh;
    left: 0;
    top: 0;
    background: #9D44C0;
    filter: blur(83px);
}

.bubble-two {
    position: absolute;
    width: 40vh;
    height: 40vh;
    right: 0;
    top: 0;
    background: #942cb9;
    filter: blur(139px);
}

.bubble-three {
    position: absolute;
    width: 40vh;
    height: 40vh;
    left: 0;
    bottom: 0;
    background: #6528F7;
    filter: blur(114px);
}

.bubble-four {
    position: absolute;
    width: 40vh;
    height: 40vh;
    left: 70%;
    top: 70%;
    bottom: 0;
    background: #B9252B;
    filter: blur(104px);
}

.signup-form, .data-block {
    display: flex;
    flex-direction: column;
    margin: auto;
    overflow: hidden;
    position: relative;
    z-index: 3;
    width: 30%;
    height: 45%;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 15px 20px rgba(0,0,0,0.1);
}

.title {
    font-size: 250%;
    font-weight: 600;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;
    color: #fff;
    user-select: none;
    border-radius: 15px 15px 0 0;
    background: linear-gradient(-135deg, #c850c0, #4158d0);
}

form, .data-container {
    padding: 5%;
    width: 100%;
    flex-grow: 4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.field {
    height: 15%;
    width: 100%;
}

.field input, button {
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 100%;
    padding-left: 20px;
    border: 1px solid lightgrey;
    border-radius: 25px;
    transition: all 0.3s ease;
}

.field input:focus,
.field input:valid {
    border-color: #4158d0;
}

.errorMsg {
    color: red;
    font-weight: lighter;
}

button {
    color: #fff;
    border: none;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    background: linear-gradient(-135deg, #c850c0, #4158d0);
    transition: all 0.3s ease;
}

button:active {
    transform: scale(0.95);
}

.field .login, .field .password {
    height: 200%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 20px;
    font-size: 100%;
}

.data-container .title {
    flex-grow: 1;
}

.data-container button {
    flex-grow: 3;
}

particle {
    position: fixed;
    display: flex;
    z-index: 10;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    background-repeat: no-repeat;
    background-size: contain;
}